#block-yeabridgecategories3thumbnailfeature {
  margin-bottom: 60px;
  .yeabridge-stopover {
    .feature-thumbnail {
      background: $brand-primary;
    }
  }
  .yeabridge-hideaway {
    .feature-thumbnail {
      background: $brand-secondary;
    }
  }
  .yeabridge-storage {
    .feature-thumbnail {
      background: $brand-tertiary;
    }
  }
  .feature-thumbnail {
    .thumbnail-image {
      background-color: #fff;
      a:hover img {
        opacity: 0.9;
      }
    }
    .thumbnail-text {
      min-height: 125px;
      padding: 15px;
      color: #fff;
      font-size: 13px;
      h2 {
        font-size: 18px;
        margin-top: 0;
        font-family: $font-family-sans-serif !important;
        color: #fff;
      }
      p.link {
        margin-top: 10px;
        text-align: right;
        a {
          color: #fff;
        }
      }
    }
  }
}

@media (min-width: 451px) and (max-width: 767px) {
  #block-yeabridgecategories3thumbnailfeature {
    .feature-thumbnail {
      max-width: 405px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 767px) {
  #block-yeabridgecategories3thumbnailfeature {
    .yeabridge-stopover,
    .yeabridge-hideaway {
      margin-bottom: 30px;
    }
  }
}