/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */

// Set the proper directory for the Bootstrap Glyphicon font.
$icon-font-path: '../bootstrap/assets/fonts/bootstrap/';

$brand-primary: #AEB787;
$brand-secondary: #5F2219;
$brand-tertiary: #933030;

$font-family-sans-serif: proxima-nova, sans-serif;
$font-family-serif: alisha, serif;
$headings-font-family: $font-family-serif;

$headings-color: $brand-secondary;

$font-size-base: 16px;