@media (min-width: 1300px) {
  .container,
  .navbar.container {
    max-width: 1270px;
  }
}

@media (min-width: 1470px) {
  .container,
  .navbar.container {
    max-width: 1440px;
  }
}

.main-container {
  padding: 0 15px;
}
.full-container {
  margin-left: -15px;
  margin-right: -15px;
}

.path-frontpage .landing-page-link {
  display: none !important;
}
.landing-page-link {
  display: inline-block;
  float: left;
  img {
    max-width: 70px;
    margin-left: 15px;
  }
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.pheasant-image {
  position: relative;
  img:first-child {
    margin-bottom: 60px;
  }
  .pheasant-icon {
    position: absolute;
    bottom: -40px;
    left: -50px;
    height: 200px;
    width: auto;
  }
}


body {
  background-image: url("/sites/default/files/assets/yeabridge-temp-bg-clouds.svg");
  background-position: top left;
  -webkit-background-size: 75%;
  background-size: 75%;
  background-repeat: no-repeat;
}

//h4s to look like h3 but not brown
h4, .h4 {
  color: #414141 !important;
  font-size: 28px !important;
}