.path-frontpage {
  .logo {
    text-align: center;
  }
  .content {
    text-align: center;
    max-width: 720px;
    margin: 0 auto;
    display: block;
    h1 {
      margin-top: 0;
      margin-bottom: 30px;
      font-size: 30px;
      color: $brand-secondary;
      text-transform: uppercase;
      font-family: $font-family-sans-serif !important;
    }
    p {
      margin-bottom: 20px;
    }
    strong {
      color: $brand-secondary;
    }
  }
}