article.sub-page,
article.hideaway-page {
  .full-container {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .col-sm-7 {
    *:first-child {
      margin-top: 0;
    }
  }
}

.commercial-page {
  h1 {
    font-family: $font-family-sans-serif !important;
    font-size: 32px !important;
  }
}

#block-commercialtitle,
#block-stopovertitle,
#block-hideawaytitle {
  float: left;
  margin: 0 !important;
  a {
    color: $brand-secondary;
  }
  a:hover {
    text-decoration: none;
  }
}

.icon-bar {
  padding: 30px 15px;
  background-color: $brand-primary;
  color: #fff;
  text-align: center;
  img {
    max-height: 60px;
    max-width: 60px;
    margin: 10px 15px;
  }
  p {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
  }
  img, p {
    display: inline-block;
  }
}

.illo-map {
  position: relative;
  .illo-map-caption {
    position: absolute;
    bottom: 30px;
    left: 0;
    background-color: #62433F;
    color: #fff;
    padding: 15px 30px 15px 50px;
    a, p, h1, h2, h3 ,h4, h5, h6 {
      color: #fff;
      margin-top: 0;
    }
  }
}

p.highlight {
  font-weight: 500;
  color: $brand-secondary;
  font-size: 18px;
}

.cta-button {
  background-color: $brand-primary;
  color: #fff;
  padding: 15px 40px 13px;
  text-decoration: none;
  margin: 30px auto;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  &:hover {
    background-color: #969f70;
    color: #fff;
    text-decoration: none;
  }
}

.static-quote-block {
  background-image: url('/sites/default/files/assets/yeabridge-swan.svg');
  background-repeat: no-repeat;
  padding-top: 110px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-position: top 0 left 10vw;
  background-size: auto 110px;
}

.static-quote-block .field--name-body,
.static-page-quote {
  background-color: #62433F;
  color: #fff !important;
  padding: 45px;
  text-align: center;
  font-size: 26px;
}

@media (min-width: 768px) {
  .static-quote-block p {
    max-width: 60%;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .image-column img {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  #block-commercialtitle,
  #block-stopovertitle,
  #block-hideawaytitle {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  #block-commercialtitle,
  #block-stopovertitle,
  #block-hideawaytitle {
    line-height: 1.4 !important;
  }
}
@media (max-width: 1199px) {
  #block-commercialtitle,
  #block-stopovertitle,
  #block-hideawaytitle {
    line-height: 1.8 !important;
  }
}