.footer-wrap {
  margin-top: 60px;
  .footer-outer {
    background-color: $brand-primary;
    color: #fff;
    a {
      color: #fff;
    }
    a:hover {
      color: #f5f5f5;
      text-decoration: none;
    }
  }
  .footer-graphic {
    background-image: url("/sites/default/files/assets/yeabridge-temp-bg-fields.svg");
    background-position: top;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 57px;
    height: 4vw;
  }
  .footer {
    border: none !important;
    margin-top: 0;

    #block-footerleft {
      font-size: 30px;
      text-transform: uppercase;
      img {
        max-width: 80px;
      }
      .social-icons {
        list-style: none;
        font-size: 16px;
        line-height: 1.8;
        padding: 0;
        margin: 10px 0 0 0 !important;
        text-transform: initial !important;
        img {
          max-width: 16px;
          max-height: 20px;
          margin-right: 10px;
        }
      }
    }
    .footer-right-inner-left {
      color: $brand-secondary;
      font-size: 50px;
      font-family: $font-family-serif;
      line-height: 0.8;
    }
    .footer-right-inner-right {
      text-align: right;
      font-size: 28px;
      line-height: 1.8;
    }
    .footer-right-inner-bottom {
      font-size: 18px;
      .footer-directions {
        max-width: 400px;
      }
      .footer-address {
        color: #5f2219;
        font-weight: bold;
      }
    }
  }
}

#block-footercopyright {
  margin-top: 30px;
  .copyright-right {
    a {
      color: #5f2219;
    }
    a:hover {
      color: #fff;
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .footer-wrap {
    .footer-right-inner-right {
      text-align: left !important;
    }
  }
}

@media (min-width: 768px) {
  #block-footercopyright {
    .copyright-right {
      text-align: right;
    }
  }
}

@media (max-width: 767px) {
  .footer p {
    margin-bottom: 25px;
  }
  #block-footerleft {
    margin-bottom: 30px;
  }
  .footer-outer,
  .footer-right-inner-right,
  .footer-right-inner-bottom {
    text-align: center !important;
    .footer-directions {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (max-width: 450px) {
  #block-footerleft {
    font-size: 6vw !important;
  }
}