.navbar-default {
  background: transparent !important;
  border: none !important;
}
.navbar-header {
  display: block;
  margin: 0 auto !important;
  text-align: center;
  width: 100%;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: transparent !important;
  color: $brand-secondary !important;
}

.nav > li > a {
  background: transparent !important;
  color: $brand-secondary !important;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
}

#block-commercialmenu > ul > li:last-child > a,
#block-stopovermenu > ul > li:last-child > a,
#block-hideawaymenu > ul > li:last-child > a {
  background-color: #AEB787 !important;
  color: #fff !important;
  padding: 10px 20px 8px;
  text-decoration: none;
  margin: 30px auto;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  &:hover {
    background-color: #969f70 !important;
    color: #fff;
    text-decoration: none;
  }
  &:after {
    display: none;
  }
}

.navbar-default .navbar-toggle .icon-bar {
  padding: 0 !important;
  background-color: #AEB787 !important;
}

@media (min-width: 1000px) {
  .menu--commercial-menu,
  .menu--stopover-menu,
  .menu--hideaway-menu {
    float: right;
    li {
      display: inline-block;
    }
  }
  .nav > li+li a:after {
    content: '-';
    position: absolute;
    left: -7px;
    bottom: 5px;
    font-size: 30px;
  }
}

@media (min-width: 1000px) and (max-width: 1199px) {
  #block-hideawaymenu > ul > li:first-child {
    display: none !important;
  }
  #block-hideawaymenu > ul > li:nth-child(2) a:after {
    display: none !important;
  }
  #block-hideawaytitle h1 {
    font-size: 34px;
  }
  .nav > li > a {
    font-size: 18px;
  }
}

@media (max-width: 999px) {
  .navbar.navbar-default  {
    display: inline-block !important;
    width: 75% !important;
  }
  .landing-page-link {
    display: inline-block !important;
    float: left !important;
    width: 25% !important;
    margin-top: 10px;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .navbar-header .collapse, .navbar-toggle {
    display:block !important;
  }
  .navbar-header {
    float: none;
  }

  #block-hideawaytitle {
    display: none !important;
  }
  .menu--commercial-menu,
  .menu--stopover-menu,
  .menu--hideaway-menu {
    float: right;
    text-align: right;
  }
  #block-commercialmenu > ul > li:last-child > a,
  #block-stopovermenu > ul > li:last-child > a,
  #block-hideawaymenu > ul > li:last-child > a {
    margin: 10px auto;
  }
  .navbar-collapse {
    border: none !important;
  }
  .landing-page-link {
    z-index: 9999;
  }
}

@media (max-width: 767px) {
  .navbar.navbar-default  {
    margin-top: 10px;
  }
}


